<%= semantic_form_for( resource, :url => url, :namespace => "#{CustomizeAdmin.name_space}") do |f| %>
    <%= render :partial => "all_form_inputs", :locals => { :f => f, :r => resource } %>
  <%= render :partial => "more_form_inputs", :locals => { :f => f } %>
  <div class="right"><%= f.submit  "Save", :class => "btn large primary" %> </div>

<% end %>

