  <td><%= link_to 'Show', resource_path(admin_resource) %></td>
  <td><%= link_to 'Edit', edit_resource_path(admin_resource) %></td>
  <td><%= link_to 'Destroy', resource_path(admin_resource), confirm: 'Are you sure?', method: :delete %></td>
