<h1>New  <%=resource_class.model_name.human%></h1>
<div class="form">

  <%= render :partial => 'form', :locals => { :url => collection_path } %>
</div>
<%#= resource_class.attribute_names %>

<%= link_to 'Back', collection_url %>
